<div class="wrapper fadeInDown auth-container">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first big-icon">
            <i class="icon-login"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
            <button class="fadeIn fourth">Log In</button>
        </form>

        <!-- Remind Passowrd 
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
        -->

    </div>
</div>